*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#home-page, 
#product-details{
    padding-top: 80px;
}

::placeholder{
   color: gray !important;
}

input:focus{
   outline: none !important;
}

.search{
    width: 100%;
    padding: 5px;
}

.recommendation-item .card p, .similar-section-item .card p{
    font-size: small !important;
}

.recommendation-item:hover, .similar-section-item:hover{
    transform: translateY(-10px);
    transition: 0.2s ease-in-out;
}

.similar-section-item img, .recommendation-item img{
    object-fit: cover;
    object-position: top;
}